.uploadform {

    border: 1px dashed;
    border-radius: 4px;
    height: 132px;
    font-size: 18px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  

}



.pad-top {
    margin-top: 40px;
}


.btn-edit {
    height: 50px;
    width: 180px;
    background-color: #000; 
    color: #fff;
    border-radius: 5px;
    border-color: #000;

}